* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(204, 204, 204);

  header {
    width: 100%;
    height: 84px;
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    .logo {
      width: 15%;
      background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
    .searchbar {
      width: 60%;
      height: 40px;
      background-color: rgb(191, 234, 243);
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      margin: 0px 100px;
      i {
        font-size: 1.8rem;
      }
      input {
        width: 90%;
        border: none;
        outline: none;
        border-radius: 15px;
        background-color: rgb(191, 234, 243);
      }
    }

    .nav-items {
      width: 30%;
      height: 60px;
      // background-color: red;
      display: flex;
      align-items: center;
      gap: 80px;

      span {
        font-size: 1.3rem;

        i {
          font-size: 1.5rem;
        }
      }
      .ri-shopping-cart-2-fill {
        font-size: 2rem;
      }
      .profile-circle {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(248, 244, 244);
        border-radius: 50%;
      }
    }
  }

  .content-body {
    width: 100%;
    min-height: 100vh;
    padding: 50px 150px;
    background-color: white;

    .hero {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 6%;
      background-color: orange;

      .categories-section {
        width: 15%;
        height: 82vh;
        background-color: orchid;
        border-radius: 12px;
      }
      .hero-content-section {
        width: 100%;
        height: 755px;
        display: flex;
        flex-direction: column;
        gap: 70px;
        // background-color: red;
        .top-content {
          width: 100%;
          height: 450px;
          border-radius: 12px;
          background-color: blue;
        }
        .bottom-content {
          width: 100%;
          height: 300px;
          border-radius: 12px;
          background-color: rgb(43, 214, 83);
        }
      }
    }

    .page-2 {
      width: 100%;
      height: 100vh;
      background-color: gray;

      .page-banner-content {
        width: 100%;
        height: 250px;
        background-color: pink;
        // margin-top: 250px;
      }
    }
  }
}
