* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f2f4;
}
.main header {
  width: 100%;
  height: 84px;
  background-color: antiquewhite;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}
.main header .logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.main header .logo h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.main header .searchbar {
  width: 60%;
  height: 40px;
  background-color: rgb(191, 234, 243);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0px 100px;
}
.main header .searchbar i {
  font-size: 1.8rem;
}
.main header .searchbar input {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: rgb(191, 234, 243);
}
.main header .nav-items {
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 80px;
  cursor: pointer;
}
.main header .nav-items span {
  font-size: 1.3rem;
}
.main header .nav-items span i {
  font-size: 1.5rem;
}
.main header .nav-items .ri-shopping-cart-2-fill {
  font-size: 2rem;
}
.main header .nav-items .profile-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 244, 244);
  border-radius: 50%;
}
.main .content-body {
  width: 100%;
  min-height: 100vh;
  padding: 50px 150px;
  background-color: #f1f2f4;
}
.main .content-body .hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6%;
}
.main .content-body .hero .categories-section {
  width: 15%;
  height: 90.5vh;
  background-color: orchid;
  border-radius: 12px;
}
.main .content-body .hero .hero-content-section {
  width: 100%;
  height: 755px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .content-body .hero .hero-content-section .top-content {
  width: 100%;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  background-color: blue;
}
.main .content-body .hero .hero-content-section .top-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .hero .hero-content-section .bottom-content {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  background-color: rgb(43, 214, 83);
  overflow: hidden;
}
.main .content-body .hero .hero-content-section .bottom-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page-2 {
  width: 100%;
  height: 160vh;
  padding-top: 70px;
}
.main .content-body .page-2 .page-banner-content {
  width: 100%;
  height: 250px;
  background-color: pink;
  border-radius: 10px;
  overflow: hidden;
}
.main .content-body .page-2 .page-banner-content img {
  width: 100%;
  height: 100%;
}
.main .content-body .page-2 .cards-grid {
  width: 100%;
  height: 880px;
  margin-top: 100px;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 30px;
  background-color: white;
}
.main .content-body .page-2 .cards-grid .card {
  width: 330px;
  height: 380px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(220, 218, 218);
}
.main .content-body .page-2 .cards-grid .card img {
  transition: all 0.2s ease;
  width: 230px;
  margin-top: 40px;
}
.main .content-body .page-2 .cards-grid .card img:hover {
  scale: 1.02;
  cursor: pointer;
}
.main .content-body .page-2 .cards-grid .card .details-section {
  width: 100%;
  height: 120px;
  text-align: center;
  padding-top: 15px;
}
.main .content-body .page3 {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}
.main .content-body .page3 .feature-brands-section {
  width: 100%;
  height: 240px;
  padding: 0px 40px;
  margin-bottom: 50px;
  border: 1px solid rgb(211, 208, 208);
  background-color: white;
}
.main .content-body .page3 .feature-brands-section .heading h2 {
  padding-top: 20px;
}
.main .content-body .page3 .feature-brands-section .brands-details-section {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
  margin-top: 10px;
}
.main .content-body .page3 .feature-brands-section .brands-details-section .brand-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 1px solid rgb(197, 194, 194);
  border-radius: 50%;
}
.main .content-body .page3 .feature-brands-section .brands-details-section .brand-details img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page3 .page3-cards-section {
  width: 100%;
  min-height: 280vh;
  padding: 50px;
  background-color: white;
}
.main .content-body .page3 .page3-cards-section .top-selling-section {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  gap: 200px;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .season-top-picks {
  width: 500px;
  height: 580px;
  border: 1px solid black;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling {
  width: 800px;
  height: 580px;
  background-color: #e5e3e6;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  position: relative;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling .heading-text {
  width: 100%;
  height: 150px;
  padding-top: 20px;
  padding-left: 20px;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling .heading-text h2 {
  font-size: 40px;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling .heading-text p {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 300;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling img {
  width: 550px;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0px;
  left: 140px;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling button {
  position: absolute;
  bottom: 70px;
  left: 30px;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 4px;
  outline: none;
  filter: drop-shadow(0px 4px 2px rgb(199, 199, 199));
  transition: all 0.3s ease;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling button:hover {
  scale: 0.98;
}
.main .content-body .page3 .page3-cards-section .top-selling-section .yearly-top-selling button a {
  font-size: 25px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(79, 79, 79);
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid {
  width: 100%;
  height: 200vh;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: start;
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card {
  width: 220px;
  height: 230px;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 234);
  transition: all 0.2s ease-in;
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card:hover {
  border: 1px solid rgb(199, 199, 199);
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card img {
  width: 190px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card img:hover {
  scale: 1.03;
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card .text-title-div {
  width: 200px;
  height: 30px;
  margin-top: 15px;
}
.main .content-body .page3 .page3-cards-section .page3-cards-grid .page3-card .text-title-div h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .content-body .page4 {
  width: 100%;
  min-height: 100vh;
  padding: 60px 0px;
}
.main .content-body .page4 .page4-content-box {
  width: 100%;
  height: 350px;
  background-color: white;
}
.main .content-body .page4 .page4-content-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page4 .all-best-mix {
  width: 100%;
  height: 400px;
  margin-top: 60px;
  padding: 20px 0px;
  background-color: white;
}
.main .content-body .page4 .all-best-mix .top-div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .content-body .page4 .all-best-mix .top-div .title-div {
  width: 800px;
  height: 70%;
}
.main .content-body .page4 .all-best-mix .top-div .title-div h4 {
  font-size: 25px;
  font-weight: 600;
  padding-left: 10px;
}
.main .content-body .page4 .all-best-mix .top-div .controls {
  width: 120px;
  height: 80px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .content-body .page4 .all-best-mix .top-div .controls .left-btn {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
}
.main .content-body .page4 .all-best-mix .top-div .controls .left-btn:hover {
  background-color: #f3f3f3;
}
.main .content-body .page4 .all-best-mix .top-div .controls .right-btn {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
}
.main .content-body .page4 .all-best-mix .top-div .controls .right-btn:hover {
  background-color: #f3f3f3;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div {
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div::-webkit-scrollbar {
  display: none;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 {
  min-width: 350%;
  height: 80%;
  display: flex;
  justify-content: start;
  gap: 30px;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card {
  width: 260px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card:hover {
  border: 1px solid rgb(194, 194, 194);
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card img {
  width: 160px;
  height: 140px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  transition: all 0.3s ease;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card img:hover {
  scale: 1.03;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card .title-div {
  width: 200px;
  height: 30px;
  margin-top: 20px;
}
.main .content-body .page4 .all-best-mix .all-mix-cards-div .card-div-2 .mix-card .title-div h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.main .content-body .page5 {
  width: 100%;
  min-height: 115vh;
  padding: 50px 0px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 14px;
  background-color: pink;
}
.main .content-body .page5 .cards-types {
  width: 390px;
  height: 450px;
  padding: 10px 30px;
  border: 1px solid rgb(227, 227, 227);
  filter: drop-shadow(0px 2px 8px rgb(232, 232, 232));
  background-color: white;
}
.main .content-body .page5 .cards-types .heading-text {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.main .content-body .page5 .cards-types .heading-text h4 {
  font-size: 20px;
  font-weight: 500;
}
.main .content-body .page5 .cards-types .small-cards-div {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.main .content-body .page5 .cards-types .small-cards-div .small-card {
  width: 155px;
  height: 150px;
}
.main .content-body .page5 .cards-types .small-cards-div .small-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: optimizeQuality;
  -o-object-position: right;
     object-position: right;
}
.main .content-body .page5 .cards-types .mid-card {
  width: 100%;
  height: 75%;
}
.main .content-body .page5 .cards-types .mid-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page5 .cards-types #card-joy {
  width: 100%;
  height: 75%;
}
.main .content-body .page5 .cards-types #card-joy img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page5 .cards-types #top-big-card {
  width: 100%;
  height: 42%;
  background-color: pink;
}
.main .content-body .page5 .cards-types #top-big-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page5 .cards-types .small-bottom-cards-div {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.main .content-body .page5 .cards-types .small-bottom-cards-div .bottom-card {
  width: 120px;
  height: 80px;
  margin-top: 15px;
}
.main .content-body .page5 .cards-types .small-bottom-cards-div .bottom-card img {
  width: 100%;
  height: 100%;
  image-rendering: optimizeQuality;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .content-body .page5 .cards-types .small-bottom-cards-div .bottom-card p {
  font-size: 13px;
}
.main .content-body .page5 .cards-types .see-more-option {
  margin-top: 12px;
}
.main .content-body .page5 .cards-types .see-more-option a {
  color: rgb(14, 164, 251);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.main .footer {
  width: 100%;
  height: 40vh;
  position: relative;
}
.main .footer .go-to-top {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  z-index: 9;
  border: none;
  outline: none;
  background-color: rgb(27, 27, 27);
}
.main .footer .go-to-top a {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  text-decoration: none;
  font-weight: 500;
  font-family: "Verdana";
  transition: all 0.5s ease;
  animation: growNshrink 0.9s 0.2s infinite alternate ease-in-out;
}
@keyframes growNshrink {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.2;
  }
}
.main .footer .footer-content-div {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 60px;
  z-index: 999;
  border: none;
  background-color: rgb(27, 27, 27);
}/*# sourceMappingURL=style.css.map */