* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f2f4;

  header {
    width: 100%;
    height: 84px;
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    .logo {
      width: 15%;
      background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
    .searchbar {
      width: 60%;
      height: 40px;
      background-color: rgb(191, 234, 243);
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      margin: 0px 100px;
      i {
        font-size: 1.8rem;
      }
      input {
        width: 90%;
        border: none;
        outline: none;
        border-radius: 15px;
        background-color: rgb(191, 234, 243);
      }
    }

    .nav-items {
      width: 30%;
      height: 60px;
      // background-color: red;
      display: flex;
      align-items: center;
      gap: 80px;
      cursor: pointer;

      span {
        font-size: 1.3rem;

        i {
          font-size: 1.5rem;
        }
      }
      .ri-shopping-cart-2-fill {
        font-size: 2rem;
      }
      .profile-circle {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(248, 244, 244);
        border-radius: 50%;
      }
    }
  }

  .content-body {
    width: 100%;
    min-height: 100vh;
    padding: 50px 150px;
    background-color: #f1f2f4;

    .hero {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 6%;
      // background-color: orange;

      .categories-section {
        width: 15%;
        height: 82vh;
        background-color: orchid;
        border-radius: 12px;
      }
      .hero-content-section {
        width: 100%;
        height: 755px;
        display: flex;
        flex-direction: column;
        gap: 70px;
        // background-color: red;
        .top-content {
          width: 100%;
          height: 450px;
          border-radius: 12px;
          overflow: hidden;
          background-color: blue;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .bottom-content {
          width: 100%;
          height: 300px;
          border-radius: 12px;
          background-color: rgb(43, 214, 83);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .page-2 {
      width: 100%;
      height: 140vh;
      // background-color: gray;
      padding-top: 70px;

      .page-banner-content {
        width: 100%;
        height: 250px;
        background-color: pink;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .cards-grid {
        width: 100%;
        height: 880px;
        margin-top: 100px;
        padding: 30px 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 40px;
        background-color: white;

        .card {
          width: 330px;
          height: 380px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          img {
            transition: all 0.2s ease;
            width: 230px;
            margin-top: 40px;
            &:hover {
              scale: 1.02;
              cursor: pointer;
            }
          }
          .details-section {
            width: 100%;
            height: 120px;
            // background-color: beige;
            text-align: center;
            padding-top: 15px;
          }
        }
      }
    }

    .page3 {
      width: 100%;
      height: 170vh;
      padding-top: 80px;
      // background-color: wheat;

      .feature-brands-section {
        width: 100%;
        height: 240px;
        padding: 0px 40px;
        margin-bottom: 50px;
        border: 1px solid rgb(211, 208, 208);
        background-color: white;

        .heading {
          h2 {
            padding-top: 20px;
          }
        }
        .brands-details-section {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 80px;
          margin-top: 10px;
          // background-color: palevioletred;
          .brand-details {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border: 1px solid rgb(197, 194, 194);
            border-radius: 50%;
            img {
              width: 80px;
              object-fit: cover;
            }
          }
        }
      }

      .page3-cards-section {
        width: 100%;
        height: 1200px;
        padding: 50px;
        background-color: white;
        .top-selling-section {
          width: 100%;
          display: flex;
          margin-bottom: 30px;
          gap: 200px;

          .season-top-picks {
            width: 500px;
            height: 580px;
            border: 1px solid black;
          }
          .yearly-top-selling {
            width: 800px;
            height: 580px;
            border: 1px solid black;
          }
        }
        .cards-grid {
          width: 100%;
          height: 500px;
          padding: 10px 0px;
          display: flex;
          flex-wrap: wrap;
          gap: 42px;
          justify-content: start;

          .page3-card {
            width: 215px;
            height: 215px;
            border: 1px solid black;
          }
        }
      }
    }
    .page4 {
      width: 100%;
      height: 100vh;
      padding: 60px 0px;
      // background-color: orange;

      .page4-content-box {
        width: 100%;
        height: 350px;
        background-color: white;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .all-best-mix {
        width: 100%;
        height: 400px;
        margin-top: 60px;
        padding: 20px 0px;
        background-color: white;
        .title-box {
          width: 300px;
          height: 50px;
          background-color: rgb(228, 228, 227);
        }

        .all-mix-cards-div {
          width: 100%;
          margin-top: 20px;
          padding: 10px 0px;
          overflow: hidden;
          // background-color: rgb(189, 185, 185);
          overflow-x: scroll;
          overflow-y: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
          .card-div-2 {
            min-width: 200vw;
            height: 80%;
            display: flex;
            justify-content: start;
            flex-shrink: 0;
            gap: 30px;
            // background-color: red;

            .mix-card {
              width: 230px;
              height: 260px;
              border: 1px solid black;
            }
          }
        }
      }
    }
    .page5 {
      width: 100%;
      min-height: 115vh;
      padding: 50px 0px;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 14px;
      // background-color: pink;

      .cards-types {
        width: 390px;
        height: 450px;
        border: 1px solid black;
        background-color: white;
      }
    }
  }
  .footer {
    width: 100%;
    height: 40vh;
    // background-color: pink;
    position: relative;
    .go-to-top-button {
      width: 300px;
      height: 150px;
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
      z-index: 9;
      border: none;
      outline: none;
      background-color: rgb(27, 27, 27);
      a {
        color: white;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        text-decoration: none;
        font-weight: 500;
        font-family: "Verdana";
        transition: all 0.4s ease;
        &:hover {
          color: antiquewhite;
          scale: 1.07;
        }
      }
    }

    .footer-content-div {
      width: 100%;
      height: 40vh;
      position: absolute;
      top: 60px;
      z-index: 999;
      border: none;
      background-color: rgb(27, 27, 27);
    }
  }
}
