* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-body {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f2f4;
}

.cart-body header {
  width: 100%;
  height: 84px;
  background-color: antiquewhite;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}
.cart-body header .logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.cart-body header .logo a {
  text-decoration: none;
  color: black;
}
.cart-body header .logo h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.cart-body header .searchbar {
  width: 60%;
  height: 40px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0px 100px;
}
.cart-body header .searchbar i {
  font-size: 1.8rem;
}
.cart-body header .searchbar input {
  width: 90%;
  height: 100%;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: white;
}
.cart-body header .nav-items {
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 80px;
  cursor: pointer;
}

.cart-body header .nav-items .login-btn {
  background: rgb(148, 145, 145);
  padding: 4px 30px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
}

.cart-body header .nav-items .login-btn:hover {
  scale: 0.96;
  transition: scale 0.2s ease;
}
.cart-container {
  width: 100%;
  min-height: 100vh;
  padding: 10px 300px;
  background: #f1f2f4;
}

.cart-container .cart-section {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 232);
}

.cart-empty-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.cart-empty-container img {
  width: 300px;
  height: 300px;
}
.cart-empty-container p {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  font-family: "Poppins";
}
.cart-empty-container a {
  text-decoration: none;
}
.cart-empty-container button {
  padding: 8px 30px;
  background-color: rgb(38, 133, 216);
  color: white;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 500;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: 40px;
  border: none;
  outline: none;
}
.cart-empty-container button:hover {
  scale: 0.97;
  transition: scale 0.3s ease;
  cursor: pointer;
}
